@import "../../general_styles/fonts.scss";
@import "../../general_styles/variables.scss";

.menu {
  display: flex;
  gap: 16px;

  a {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "EB Garamond", serif;
    &.activ {
      color: #00cbcb;
      text-shadow: 0px 0px 2px #00cbcb;
    }
  }
}

@media (max-width: $mobile-screen-width) {
  .menu {
    gap: 1px;
    flex-direction: column;

    a {
      font-size: 20px;
    }
  }
}
