@font-face {
  font-family: "EB Garamond";
  src: url("./fonts/EBGaramond08-Italic.otf") format("opentype");
  font-weight: italic;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./fonts/EBGaramond08-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond SC";
  src: url("./fonts/EBGaramondSC08-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
