@import "../../general_styles/variables.scss";
@import "../../general_styles/fonts.scss";

.home-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h1 {
    font-family: "EB Garamond", serif;
  }
}

.sect-card-slider {
  width: 100%;
  // display: flex;
  // flex-direction: row;
  overflow: hidden;
  // gap: 5px;
}



// .sect-filtration {
// }

.sect-card-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
